<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LoginMain</servlet-name>
        <jsp-file>/WEB-INF/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginMain</servlet-name>
        <url-pattern>/LoginMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserMainServle</servlet-name>
        <servlet-class>com.movie.servlet.UserMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMainServle</servlet-name>
        <url-pattern>/UserMainServle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserMain</servlet-name>
        <jsp-file>/WEB-INF/User/UserMain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMain</servlet-name>
        <url-pattern>/UserMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAdd</servlet-name>
        <jsp-file>/WEB-INF/User/UserAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAdd</servlet-name>
        <url-pattern>/UserAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserModify</servlet-name>
        <jsp-file>/WEB-INF/User/UserModify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserModify</servlet-name>
        <url-pattern>/UserModify</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MovieServle</servlet-name>
        <servlet-class>com.movie.servlet.MovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieServle</servlet-name>
        <url-pattern>/MovieServle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieMain</servlet-name>
        <jsp-file>/WEB-INF/Movie/MovieMain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieMain</servlet-name>
        <url-pattern>/MovieMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieAdd</servlet-name>
        <jsp-file>/WEB-INF/Movie/MovieAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieAdd</servlet-name>
        <url-pattern>/MovieAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieModify</servlet-name>
        <jsp-file>/WEB-INF/Movie/MovieModify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieModify</servlet-name>
        <url-pattern>/MovieModify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HallServle</servlet-name>
        <servlet-class>com.movie.servlet.HallServle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallServle</servlet-name>
        <url-pattern>/HallServle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HallMain</servlet-name>
        <jsp-file>/WEB-INF/Hall/HallMain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallMain</servlet-name>
        <url-pattern>/HallMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HallModify</servlet-name>
        <jsp-file>/WEB-INF/Hall/HallModify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallModify</servlet-name>
        <url-pattern>/HallModify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayServlet</servlet-name>
        <servlet-class>com.movie.servlet.PlayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayServlet</servlet-name>
        <url-pattern>/PlayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlayMain</servlet-name>
        <jsp-file>/WEB-INF/Play/PlayMain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayMain</servlet-name>
        <url-pattern>/PlayMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlayAdd</servlet-name>
        <jsp-file>/WEB-INF/Play/PlayAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayAdd</servlet-name>
        <url-pattern>/PlayAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlayModify</servlet-name>
        <jsp-file>/WEB-INF/Play/PlayModify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayModify</servlet-name>
        <url-pattern>/PlayModify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.movie.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerMain</servlet-name>
        <jsp-file>/WEB-INF/Customer/CustomerMain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerMain</servlet-name>
        <url-pattern>/CustomerMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerAdd</servlet-name>
        <jsp-file>/WEB-INF/Customer/CustomerAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerAdd</servlet-name>
        <url-pattern>/CustomerAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerModify</servlet-name>
        <jsp-file>/WEB-INF/Customer/CustomerModify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerModify</servlet-name>
        <url-pattern>/CustomerModify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VipServlet</servlet-name>
        <servlet-class>com.movie.servlet.VipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VipServlet</servlet-name>
        <url-pattern>/VipServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VipMain</servlet-name>
        <jsp-file>/WEB-INF/Vip/VipMain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>VipMain</servlet-name>
        <url-pattern>/VipMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VipAdd</servlet-name>
        <jsp-file>/WEB-INF/Vip/VipAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>VipAdd</servlet-name>
        <url-pattern>/VipAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VipModify</servlet-name>
        <jsp-file>/WEB-INF/Vip/VipModify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>VipModify</servlet-name>
        <url-pattern>/VipModify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sale</servlet-name>
        <jsp-file>/WEB-INF/Ticket/Sale.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sale</servlet-name>
        <url-pattern>/Sale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Details</servlet-name>
        <jsp-file>/WEB-INF/Ticket/Details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Details</servlet-name>
        <url-pattern>/Details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <jsp-file>/WEB-INF/Ticket/Buy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Choose</servlet-name>
        <jsp-file>/WEB-INF/Ticket/Choose.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Choose</servlet-name>
        <url-pattern>/Choose</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ticket</servlet-name>
        <jsp-file>/WEB-INF/Ticket/Ticket.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ticket</servlet-name>
        <url-pattern>/Ticket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>com.movie.servlet.TicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/TicketServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MovieStatistics</servlet-name>
        <jsp-file>/WEB-INF/Statistics/MovieStatistics.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieStatistics</servlet-name>
        <url-pattern>/MovieStatistics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.movie.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Coding</filter-name>
        <filter-class>com.movie.filter.CodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Coding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- jfreechart配置 -->
    <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/DisplayChart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BarCode2DServlet</servlet-name>
        <servlet-class>com.movie.servlet.BarCode2DServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarCode2DServlet</servlet-name>
        <url-pattern>/qrCode</url-pattern>
    </servlet-mapping>
</web-app>